<footer class="site-footer">
    <div class="container">
        <div>&nbsp;</div>
        <div class="row">
            <div class="pull-left" style="margin-left: 10px; margin-right: 60px;">
                <img src="/crc_white60.png">
            </div>
            <div class="pull-left attribution">

                <p><strong style="text-transform: uppercase; color:white;">{{ _('Contact us') }}</strong></p><br/>

                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-map-marker" style="font-size: 1.4em; float: left;"></i>
                        <div style="margin-left: 30px">
                            {{ _('Address') }}: {{ _('Metro Business Center, Floor-5 D.Sukhbaatar street-13 Sukhbaatar district UB 14201-0033') }}
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                <span><i class="fa fa-phone" style="margin-right: 10px;"></i> {{ _('Phone') }}: (976)-11-304258 &nbsp;&nbsp;&nbsp;<i
                        class="fa fa-envelope-o"></i>
                    {{ _('E-mail address') }}: info@crc.gov.mn</span><br/>
                    <span><i class="fa fa-globe" style="margin-right: 10px;"></i> {{ _('Web site') }}:
                        <a href="www.crc.gov.mn">www.crc.gov.mn</a></span>
                </div>
                <br/>
            </div>

        </div>
        <div class="row">
            <div style="float: right;">
                <div style="margin-right: 20px; float:left;">
                    {% block footer_lang %}
                        {% snippet "snippets/language_selector.html" %}
                    {% endblock %}
                </div>
                <div style="margin-right: 20px; float:left;">
                    Powered by <a class="hide-text ckan-footer-logo" target="_blank" href="http://ckan.org">CKAN</a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div style="float: right;">
                    {{ _('Since 2019, Communications Regulatory Commission of Mongolia') }}
                    <a href="https://creativecommons.org/licenses/by-sa/2.0" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/CC-BY-SA_icon_white.svg/2000px-CC-BY-SA_icon_white.svg.png"
                             style="width: 80px;">
                    </a>
                </div>
            </div>
        </div>

    </div>

    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}
</footer>