{% ckan_extends %}


{% block header_account_logged %}

{{ super() }}
<li><a href="/">MN</a></li>
<li><a href="/en">EN</a></li>
{% endblock %}

{% block header_account_notlogged %}

{{ super() }}
<li><a href="/">MN</a></li>
<li><a href="/en">EN</a></li>
{% endblock %}


{% block header_logo %}
<a class="logo" href="{{ h.url_for('home.index') }}">

    <img src="{% if h.lang()=='mn_MN' %}/logo.png{% else %}/logo-eng.png{% endif %}" alt="{{ g.site_title }}"
         title="{{ g.site_title }}"/>
</a>
{% endblock %}

{% block header_site_navigation_tabs %}
<li>{% link_for _('Data'), named_route='search' %}</li>
<li>{% link_for _('Organization'), named_route='/organization' %}</li>
<li>{% link_for _('Groups'), named_route='/group' %}</li>
<li>{% link_for _('Showcases'), named_route='/showcase' %}</li>
<li>{% link_for _('About'), named_route='home.about' %}</li>
<li class="finish"></li>
{% endblock %}