<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>Updates</h1>
        </div>

        {% for package in h.num_latest_changed_packages() %}
        <article class="card card-danger" href="{{ h.url_for('/dataset') }}/{{ package.data.package.name }}"
                 style="background-color: white">
            <header>
                <h2 class="entry-title">
                    <a id="{{ package.data.package.name }}"
                       href="{{ h.url_for('/dataset') }}/{{ package.data.package.name }}"
                       class="local-link">{{ package.data.package.title }}</a>
                </h2>
                <div class="entry-meta" xmlns="//www.w3.org/1999/html">
                    <time class="published" datetime="{{ package.timestamp }}">
                        {{ h.date_string_from_timestamp(package.timestamp) }}&nbsp;&nbsp;
                        <i>{{ package.author }}</i>
                        <i>{{ package.owner_org }}</i>
                        {{ _(package.activity_type) }}
                    </time>
                </div>
            </header>
            <div class="entry-notes">
                <div class="card-description"> {{ package.data.package.notes }}</div>
            </div>
        </article>
        {% endfor %}

    </div>

</div>
