<div role="main" class="hero num-hero">
    <div class="container">
        {% block search %}
        {% snippet 'home/snippets/search.html' %}
        {% endblock %}
    </div>
</div>
<div role="main">
    <div class="row row2">
        <div class="col-md-12">
            {% snippet 'home/snippets/groups.html' %}
        </div>
    </div>
    <div class="row row2">
        <div class="col-md-12">
            {% snippet 'home/snippets/show-cases.html' %}
        </div>
    </div>

    <div class="row row2">
        <div class="col-md-12">
            {% snippet 'home/snippets/latest-updates.html' %}
        </div>
    </div>
    <br/>
</div>
